@{ Layout = null; }
<!DOCTYPE html>
<html lang="en" ng-app="spa">
<head>
    <title>Spa</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @Styles.Render("~/Content")
    @Scripts.Render("~/script/modernizr")
</head>
<body ng-controller="rootCtrl">
    <div class="container">
        <div class="page {{pageClass}}" ng-view></div>
    </div>
    @Scripts.Render("~/script/vendor")
        
</body>
</html>