@{ Layout = null; }
<!DOCTYPE html>
<html lang="en">
<head ng-app="spa">
    <title>Spa</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body ng-controller="rootController">

    <div class="container">
        <h1>{{page.Title}}</h1>
        <p>{{page.Text}}</p>
    </div>

</body>
</html>